[{"id":"5581709a-3a6c-4314-a5c0-b15b40f1772a","name":"爱奇艺尖叫之夜","method":"GET","url":"https://act.vip.iqiyi.com/supermk/seckill*","wildcard":true,"action":{"type":4,"modifies":[{"id":"704fdf76-e7e9-4965-9385-43bfec802ac1","type":0,"modify":{"pattern":"\"leftStock\"\\s*:\\s*0","replacement":"\"leftStock\":100","regex":true,"caseSensitive":true},"isEnabled":true},{"id":"72543de7-47a5-4ad9-a4fd-09cc293462af","type":0,"modify":{"pattern":"\"timesEndTime\"\\s*:\\s*\\d+","replacement":"\"timesEndTime\":1763805600000","regex":true,"caseSensitive":true},"isEnabled":true}],"modifyQueryTemplate":null,"modifyHeaderTemplate":null,"modifyBodyTemplate":null},"isEnabled":true}]